@model IEnumerable<Resturaunt_web.Models.Menu>

@{
    ViewData["Title"] = "Homepage";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
}

<html>
<link rel="stylesheet" href="~/css/main.css" />
<body>
    <div class="return">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Return</a>
    </div>
    <div class="menu">
        <p style="margin-top:10px;margin-bottom:10px;">
            <a asp-action="Starters">Starters</a>
        </p>
        <p style="margin-top:10px;margin-bottom:10px;">
            <a asp-action="Mains">Mains</a>
        </p>
        <p style="margin-top:10px;margin-bottom:10px;">
            <a asp-action="Deserts">Deserts</a>
        </p>
        <p style="margin-top:10px;margin-bottom:10px;">
            <a asp-action="Drinks">Drinks</a>
        </p>
    </div>
</body>


</html>
