.column {
    width: 20%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 55px
}

.AdminOption {
    width: 400px;
    height: 400px;
    background-color: D3D3D3;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    margin: 10px;
}

    .AdminOption center {
        font-size: 50px;
    }

.return {
    height: 40px;
    Background-color: D3D3D3;
}

.PageHeader {
    background-color: royalblue;
    border: solid;
    text-align: center
}