<DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WEB_DEV_RESTAURANT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
	<body>
        <header style="width:100%;height:300px;Background-color:D3D3D3;">
            <h1><center>Admin</center></h1>

        </header>
		
		<div class="main">
			@RenderBody()
		</div>
	</body>
</html>