<DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dynamic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
	<body>
        <header>
            <button>Admin</button>
            <center><img src="~/Theme/img/Logo.png"></center>
        </header>
		
        <style>
            header {
                width: 100%;
                height: 300px;
                Background-color: D3D3D3;
            }
            button {
                display: block;
                margin-left: auto;
                margin-right: 0px;
            }
        </style>

		<div class="main">
			@RenderBody()
		</div>
	</body>
</html>