@model Resturaunt_web.Models.Registered_Customers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_Layout.cshtml";
}

<h4>Forgot Password</h4>
<hr />
<p>Please provide the Email address you used to register your account with and we shall send you an email with steps to follow in order to recover your account</p>
<div class="row">
    <div class="col-md-4">

        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="padding-bottom:25px;">
                <label asp-for="CustomerEmail" class="control-label">Email</label>
                <input asp-for="CustomerEmail" class="form-control" />
                <span asp-validation-for="CustomerEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="SEND EMAIL" class="btn btn-warning" />
            </div>
        </form>
        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Return to Login</a>
    </div>

</div>