@model Resturaunt_web.Models.Registered_Customers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/account.css" />

<div class="AccountBox">
    <div class="column">
        <form asp-action="Create" enctype="multipart/form-data">
            <div class="form-group" style="padding-bottom:25px;">
                <label asp-for="CustomerPassword" class="control-label">New Password</label>
                <input asp-for="CustomerPassword" class="form-control" />
                <span asp-validation-for="CustomerPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
        <a class="nav-link text-dark" asp-area="" asp-controller="Registered_Customers" asp-action="Login">Login</a>
    </div>

</div>