@model Resturaunt_web.Models.Login

@{
    ViewData["Title"] = "LoginSuccess";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Login Success</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <a class="nav-link" asp-controller="Home" asp-action="Index">Continue to Homepage</a>
</div>
