@{
    ViewData["Title"] = "Admin Homepage";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
}



<head>
    <link rel="stylesheet" href="~/css/admin.css" />
    <style>
        center {
            font-size:70px;
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .container {
            text-align:center;
            padding: 100px;
            border-bottom: 1px solid;
            border-color: rgb(201, 199, 200);
            background-color: rgb(251,252,148);
            max-width: 2000px;
        }
        p{font-size:50px;

        }
    </style>
</head>

<body>
    <div class="return">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Return</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="AdminOption" style="width:400px; height:300px;">
                <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">
                    <p>Reservation Manager</p>

                </a>
            </div>
            <div class="AdminOption" style="width:400px; height:300px;">
                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">
                    <p>User Manager</p>


                </a>
            </div>
            <div class="AdminOption" style="width:400px; height:300px;">
                <a class="nav-link text-dark" asp-area="" asp-controller="Menus" asp-action="Index">
                    <p>Menu Manager</p>

        
           


                </a>
            </div>
            <div class="AdminOption" style="width:400px; height:300px;">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminDeals">
                    <p>Deals/Specials Manager</p>

                </a>
            </div>
        </div>
    </div>
</body>


<style>
</style>