@{
    ViewData["Title"] = "Reservation Manager";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
}
<!DOCTYPE html>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="~/css/admin.css" />
    
</head>
<body>
    <div class="return">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminHomepage">Return</a>
    </div>

    <div class="PageHeader">
        <h1>
            Reservation Management
        </h1>
    </div>

    <div class="container  p-4 mb-4">


        <div style="background-color:royalblue; border-top:solid; width:1000px; ">
            <div class="form-group">
                <input type="text" name="search" id="search" aria-describedby="HelpId" placeholder="search" width="100" float="right" />

            </div>
            <div style="border-top:solid">
                <table style="width:100%">
                    <tr>
                        <th>Name</th>
                        <th>Phone#</th>
                        <th>Bill est </th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Expand</th>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>1234</td>
                        <td>$45</td>
                        <td>10:45pm</td>
                        <td>29/5</td>
                        <td>Expand</td>
                    </tr>
                </table>
            </div>

        </div>

    </div>
    <hr>
    </div>
    </div>
</body>
</html>