@{
    ViewData["Title"] = "Admin Homepage";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
}



<head>
    <link rel="stylesheet" href="~/css/admin.css" />
    <style>
        center {
            font-size:70px;
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .container {
            text-align:center;
            padding: 10px 50px;
            border-bottom: 1px solid;
            border-color: rgb(201, 199, 200);
            max-width: 2000px;
        }
        p{font-size:50px;

        }
    </style>
</head>

<body>
    <div class="return">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Return</a>
    </div>

    <div class="container">
        <div class="row">
            <a class="nav-link text-dark" asp-area="" asp-controller="Reservations1" asp-action="Index">
                <div class="AdminOption" style="width:400px; height:300px;">
                    <p>Reservation Manager</p>
                </div>
            </a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Registered_Customers" asp-action="Index">
                <div class="AdminOption" style="width:400px; height:300px;">
                    <p>User Manager</p>
                </div>
            </a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Menus1" asp-action="Index">
                <div class="AdminOption" style="width:400px; height:300px;">
                    <p>Menu Manager</p>
                </div>
            </a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Deals" asp-action="Index">
                <div class="AdminOption" style="width:400px; height:300px;">
                    <p>Deals/Specials</p>
                </div>
            </a>
        </div>
    </div>
</body>