@{
    ViewData["Title"] = "User Manager";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
}

<body>
    <div class="return" style="width:100%;height:40px;Background-color:D3D3D3;">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminHomepage">Return</a>
    </div>

</body>