@{
    ViewData["Title"] = "Reservation Manager";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
}
<!DOCTYPE html>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="Reservation Management CSS.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="return">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminHomepage">Return</a>
    </div>

    <div class="PageHeader">
        <h1>
            Reservation Management
        </h1>
    </div>

    <div class="container  p-4 mb-4">


        <div style="background-color:royalblue; border-top:solid; width:1000px; ">
            <div class="form-group">
                <input type="text" name="search" id="search" aria-describedby="HelpId" placeholder="search" width="100" float="right" />

            </div>
            <div style="border-top:solid">
                <table style="width:100%">
                    <tr>
                        <th>Name</th>
                        <th>Phone#</th>
                        <th>Bill est </th>
                        <th>Time</th>
                        <th>Date</th>
                        <th>Expand</th>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>1234</td> 
                        <td>$45</td>
                        <td>10:45pm</td>
                        <td>29/5</td>
                        <td><button>Expand
                            </button></td>
                    </tr>
                  

                   <tr>
                       <td  style="border:none">
                           Name-John<br />
                           Phone#-1234<br />
                           Bill est-$45<br />
                         
                           Email-John@gmail.com<br />
                          

                       </td>
                       <td  style="border:none">
                           <div class="container shadow p-4 mb-4" style="border:solid; background-color:aliceblue; height:300px; width:300px;">
                               preoder meal + cost
                           </div>
                       </td >
                       <td  style="border:none">
                           Time-10:45pm<br />
                           Date-29/5<br />

                       </td>
                       <td  style="border:none">
                           <button>Edit
                               </button><br />
                           <button>save</button><br />
                           <button>delete</button><br />
                       </td>
                   </tr>
                </table>
            </div>

        </div>

    </div>
  
   
</body>
</html>