@{
    ViewData["Title"] = "Admin Homepage";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
}



<head>
    <link rel="stylesheet" href="~/css/admin.css" />
    <style>
        center {
            font-size:70px;
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        .container {
            text-align:center;
            padding: 100px;
            border-bottom: 1px solid;
            border-color: rgb(201, 199, 200);
            background-color: rgb(251,252,148);
            max-width: 2000px;
        }
    </style>
</head>

<body>
    <div class="return">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Return</a>
    </div>

    <div class="container">
        <div class="row">
            <div class="AdminOption">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminReservation">
                    <h1>Reservation Manager</h1>

                </a>
            </div>
            <div class="AdminOption">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminUser">
                    <h1>User Manager</h1>


                </a>
            </div>
            <div class="AdminOption">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminMenu">
                    <h1>Menu Manager</h1>

        <a class="nav-link text-dark" asp-area="" asp-controller="Reservations" asp-action="Index">
            <div class="AdminOption"><h1>Reservation Manager</h1></div>
        </a>


                </a>
            </div>
            <div class="AdminOption">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminDeals">
                    <h1>Deals/Specials Manager</h1>

                </a>
            </div>
        </div>
    </div>
</body>


<style>
</style>