
@{
    ViewData["Title"] = "AdminWelcome";
    Layout = "~/Views/Shared/_AdminWelcome.cshtml";
}

<h1>Welcome to Dynamics Admin Page</h1>

<h3>Here you can manage and keep track of all your upcoming reservations</h3>
