@{
    ViewData["Title"] = "Menu Manager";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>


<body>
    <div class="return">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminHomepage">Return</a>
    </div>

    <div class="PageHeader">
        <h1>
            Menu Management
        </h1>
    </div>
    <button>
        Add Menu
    </button>
    <div>
        Menu Name       <div class="form-group">
            <input type="text" name="search" id="search" aria-describedby="HelpId" placeholder="search" width="100" float="right" />

        </div>
    </div>
    <div style="border-top:solid">
        <table style="width:100%">
            <tr>
                <th>Menu Name</th>
                <th>Price</th>
                <th>Take Away Price</th>
                <th>Active</th>
                <th>Sort Order</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Egg sandwhich</td>
                <td>$10</td>
                <td>$10</td>
                <td>Yes</td>
                <td>1</td>

            </tr>


        </table>



        <input type="text" />
        <input type="number" />
        <input type="number" />
        <input type="text" />
        <input type="number" />
        <td>
            <button>
                Edit
            </button>
        </td>
        <input type="submit" />
        <input type="checkbox" />


    </div>
</body>