@{
    ViewData["Title"] = "Admin Homepage";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Admin Homepage</p>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminReservation">Reservation Manager</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminUser">User Manager</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminMenu">Menu Manager</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminDeals">Specials/Deals Manager</a>