@{
    ViewData["Title"] = "Admin Homepage";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/admin.css" />
</head>

<body>
    <div class="return">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Return</a>
    </div>

    <div class="column">


        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminReservation">
            <div class="AdminOption"><center>Reservation Manager</center></div>
        </a>

        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminUser">
            <div class="AdminOption"><center>User Manager</center></div>
        </a>

        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminMenu">
            <div class="AdminOption"><center>Menu Manager</center></div>
        </a>

        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AdminDeals">
            <div class="AdminOption"><center>Deals/Specials Manager</center></div>
        </a>
    </div>
</body>

<style>
    

</style>