@{
    ViewData["Title"] = "Index";
    Layout = "";
}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dynamic Restaurant</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="~/HomeTheme/assets/Logo-Icon.svg" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="~/HomeTheme/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="~/HomeTheme/assets/img/Dynamic.svg" alt="..." style="width: 200px; height: 100px;" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#Menu">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Gallery">Gallery</a></li>
                        <li class="nav-item"><a class="nav-link" href="#Bookings">Bookings</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To Our Restaurant!</div>
                <p>Come and enjoy Aucklands finest dining experience</p>
                <a class="btn btn-primary btn-xl text-uppercase" asp-area="" asp-controller="Reservations1" asp-action="Reservation">Book Now</a>
                 
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="Menu">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Menu</h2>
                    <h3 class="section-subheading text-muted">Aucklands finest food experience</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-bread-slice fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Starters</h4>
                        <p class="text-muted">This collection features a number of chefs' signature dishes, including William Drabble's decadent Poached lobster tail recipe, served with cauliflower and a rich, buttery sauce.</p>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Mains</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-ice-cream fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Deserts</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                    <div class="col-md-3">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-glass-martini fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">Drinks</h4>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                    </div>
                    <div class="col-md-8-center">
                       <a class="btn btn-primary btn-xl text-uppercase" asp-area="" asp-controller="Menus1" asp-action="Menu">See Full Menu</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="Gallery">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Gallery</h2>
                    <h3 class="section-subheading text-muted">Foodies welcomed</h3>
                </div>
                <div class="row">
                    <!-- Page Content -->
                    <div class="container">


                      <div class="row text-center text-lg-start">

                        <div class="col-lg-3 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="~/HomeTheme/assets/img/Gallery/baduzzi-gallery-1.jpg" alt="">
                          </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="~/HomeTheme/assets/img/Gallery/baduzzi-gallery-2.jpg" alt="">
                          </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="~/HomeTheme/assets/img/Gallery/baduzzi-gallery-3.jpg" alt="">
                          </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="~/HomeTheme/assets/img/Gallery/baduzzi-gallery-4.jpg" alt="">
                          </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="~/HomeTheme/assets/img/Gallery/baduzzi-gallery-5.jpg" alt="">
                          </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="~/HomeTheme/assets/img/Gallery/baduzzi-gallery-6.jpg" alt="">
                          </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="~/HomeTheme/assets/img/Gallery/baduzzi-gallery-7.jpg" alt="">
                          </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="~/HomeTheme/assets/img/Gallery/baduzzi-gallery-9.jpg" alt="">
                          </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="~/HomeTheme/assets/img/Gallery/baduzzi-gallery-10.jpg" alt="">
                          </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="~/HomeTheme/assets/img/Gallery/baduzzi-gallery-11.jpg" alt="">
                          </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="~/HomeTheme/assets/img/Gallery/baduzzi-gallery-12.jpg" alt="">
                          </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-6">
                          <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="~/HomeTheme/assets/img/Gallery/baduzzi-gallery-3.jpg" alt="">
                          </a>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
           
        </section>
        <!-- About-->
        <section class="page-section" id="Bookings">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Booking</h2>
                    <h3 class="section-subheading text-muted">Get in quick, limited spaces avalible.</h3>
                     <div class="col-md-8-center">
                       <a class="btn btn-primary btn-xl text-uppercase" asp-area="" asp-controller="Reservations1" asp-action="Reservation">Book Now</a>
                     </div>
                </div>
            </div>
        </section>


         @* <div class="input-group mb-6">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Party Size</label>
                  </div>
                  <select class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                  </select>
                </div>*@
        
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                     <div class="row text-center">
                    <div class="col-md-4">
                        <h7 class="section-heading">Location: 39-41 Elliott Street,</h7>
                        <br />
                        <br />
                        <h7 class="section-heading">Auckland CBD, Auckland 1010</h7>
                        <br />
                        <br />
                        <h7 class="section-heading">Phone: 64+8796980</h7>
                        <br />
                        <br />
                        <h7 class="section-heading">Email: Dynamic@Gmail.com</h7>
                        <br />
                        <br />
                       
                   </div>
                    <div class="col-md-8">
                            @*<h4 class="section-heading">Find us at on google maps</h4>*@
                            <iframe class="col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2257.561977334575!2d174.76339735641312!3d-36.850264513945866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47e54e38368d%3A0x4bedaecd7cbf9b6b!2sElliott%20Stables!5e0!3m2!1sen!2snz!4v1654776007980!5m2!1sen!2snz" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>   
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Dynamic.co.nz</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none"asp-area="" asp-controller="Home" asp-action="AdminWelcome">Admin</a>
                    </div>
                </div>
            </div>
        </footer>
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="~/HomeTheme/js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>



