@{
    ViewData["Title"] = "Homepage";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
}
<link rel="stylesheet" href="~/css/main.css" />


<html>
<body>
    <div class="special">
        
    </div>
    <div class="reservation">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Reservation"><button>Reserve</button></a>
    </div>
    <div class="menu">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu"><button>Menu</button></a>
    </div>
    <div class="social">
        <div class ="socialLinks">

        </div>
        <div class="socialPhotos">

        </div>
    </div>
</body>
</html> 